{% extends "base.html.twig" %}

{% block body %}
	<h2>Accueil</h2>
	<br>
	<p>
		<a href="{{ path("annonce-creation-automobile") }}">Créer une annonce pour une automobile</a>
	</p>
	<p>
		<a href="{{ path("annonce-creation") }}">Créer une annonce pour un emploi ou une offre immobiliere</a>
	</p>
	<p>
		<a href="{{ path("annonce-recherche-automobile") }}">Chercher une annonce concernant un vehicule</a>
	</p>
	<p>
		<a href="{{ path("annonce-recherche-emploi") }}">Chercher une annonce concernant un emploi</a>
	</p>
	<p>
		<a href="{{ path("annonce-recherche-immobilier") }}">Chercher une annonce concernant une offre immobilière</a>
	</p>
	<p>
		<a href="{{ path("annonce-modifier-accueil") }}">Modifier une annonce</a>
	</p>
	<p>
		<a href="{{ path("annonce-supprimer-accueil") }}">Supprimer une annonce</a>
	</p>
</ul>{% endblock %}{% block title %}
Accueil{% endblock %}
